[submodule "ext/tinyobjloader"]
	path = ext/tinyobjloader
	url = https://github.com/tinyobjloader/tinyobjloader.git
[submodule "ext/stb"]
	path = ext/stb
	url = https://github.com/nothings/stb
[submodule "ext/tinygltf"]
	path = ext/tinygltf
	url = https://github.com/syoyo/tinygltf.git
